Repository axpnet/wdk-multi-chain-web-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci/cd, frontend, configuration, chains, security, ui, pwa

.github/labeler.yml:

# Auto labeler configuration
# Labels PRs based on changed files

documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'public/docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'

ci/cd:
  - '.github/workflows/**'
  - '.github/**'

frontend:
  - '**/*.js'
  - '**/*.css'
  - '**/*.html'

configuration:
  - 'config.js'
  - 'vite.config.js'
  - 'manifest.webmanifest'

chains:
  - 'chains/**'

security:
  - 'modules/secure_storage.js'
  - 'modules/wallet_manager.js'
  - 'SECURITY_GUIDE.md'

ui:
  - 'style.css'
  - 'modules/ui_utils.js'
  - 'modules/wallet_ui.js'

pwa:
  - 'manifest.webmanifest'
  - 'sw.js'

docs(readme): presentazione più professionale; aggiunta sezione piattaforme/device; link CI/CD dedicato\nchore: electron packaging scripts e dipendenze; main CJS; rimando docs IT
  README.md
  electron/main.cjs
  electron/main.js
  package-lock.json
  package.json
Labels: documentation, dependencies, frontend

docs(readme): aggiunto banner Lingue con link a documentazione italiana
  README.md
Labels: documentation

docs(readme): aggiunta sezione 📸 Screenshots con placeholder e galleria commentata
  README.md
Labels: documentation

docs: aggiunta guida completa per configurazione GitHub Ruleset protezione branch main
  .github/BRANCH_PROTECTION.md
Labels: documentation, ci/cd

fix(docs): rimosso titolo duplicato in security.it.md (già presente nel modal header)
  docs/security.it.md
Labels: documentation

refactor: rinominato .github/README.md in WORKFLOWS.md per evitare confusione con README principale
  .github/WORKFLOWS.md
  README.md
Labels: documentation, ci/cd

feat: wallet completamente portabile - funziona in qualsiasi cartella senza ricompilare
  DEPLOY_ARUBA.md
  main.js
Labels: documentation, frontend

fix: build con path relativi per portabilità universale
  .github/workflows/ci.yml
  DEPLOY_ARUBA.md
  README.md
  package.json
  vite.config.js
Labels: documentation, dependencies, ci/cd, frontend, configuration

chore: update dependencies (automated)
  outdated.json
  package-lock.json
  package.json
Labels: dependencies

feat: Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Labels: ci/cd

🚀 Release v1.0.1 - Versione finale con portabilità completa
  PORTABILITA.md
  WDK-Wallet-Web-v1.0.1.zip
  package.json
Labels: documentation, dependencies
